body {
    height: 400vh;
    margin: 0;
}
  
  section {
    height: 100vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-content: center;
    z-index: 2;
    position: relative;
  }
  
  .text-svg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  h1, .credit{
      font-family: 'Montserrat', sans-serif;
      font-size: 4em;
  }

  .animate{
      animation : reveal 1.5s forwards;
  }

  @keyframes reveal {
      from {
          opacity: 0;
          transform: translateX(-180deg);
      }
      to {
        opacity: 1;
        transform: translateX(0deg);
    }
  }

  .bg-svg{
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  #left-purple-tree{
    animation: sway 1.8s infinite linear;
    transform-origin: bottom;
}

@keyframes sway{
    0%{
        transform: skewX(0deg);
    }
    50%{
        transform: skewX(-2deg);
    }
    100%{
        transform: skewX(0deg);
    }
}

#left-dark-tree{
    animation: sway 1.5s infinite linear;
    transform-origin: bottom;
}

#left-big-tree{
    animation: sway 3s infinite linear;
    transform-origin: bottom;
}

#right-purple-tree{
    animation: sway-right 1.8s infinite linear;
    transform-origin: bottom;
}
#right-dark-tree{
    animation: sway-right 1.4s infinite linear;
    transform-origin: bottom;
}

#right-big-tree{
    animation: sway-right 2.9s infinite linear;
    transform-origin: bottom;
}

@keyframes sway-right{
    0%{
        transform: skewX(-2deg);
    }
    50%{
        transform: skewX(0deg);
    }
    100%{
        transform: skewX(-2deg);
    }
}

@media only screen and (max-width: 500px){
    h1{
        font-size: 2em;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
    .bg-svg{
        width: 100%;
    }
    .credit{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.6em;
        text-decoration: none;
    }
    
}

a{
    text-decoration: none;
}


@media only screen and (min-width: 500px){
    h1{
        font-size: 3em;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
    .bg-svg{
        width: 100%;
    }
    .credit{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1em;
        text-decoration: none;
    }
    
}
