body{
    margin: 0;
    padding: 0;
}

.hide-mobile{
    display: none;
}

.menu{
    position: absolute;
    top: 0;
    margin: 2em;
}


.about-text-container{
    display: none;
}

.food-text-container{
    display: none;
}

.games-text-container{
    display: none;
}

.home-text-container{
    margin: 30% 2em;
}

.home-text-container h2{
    text-align: center;
}

.footer-container{
    display: none;
}